body {
	background: black;

	.merriweather-<uniquifier > {
		font-family: "Merriweather", serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
		font-variation-settings: "wdth" 100;
	}
}

.postcard {
	width: 400px;
	height: 300px;
	background: white;
	margin: auto;
}
.postcard-header {
	display: flex;
	padding: 10px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
	padding-top: 10px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px grey solid;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: #95a8b9;
	padding: 5px 10px;
    border: none;
}
